{% extends "base.html" %}
{% load staticfiles %}
        {% block content %}
            {% for recipe in object_list %}
            <div class="col-sm-6 col-md-3" data-pg-collapsed>
                <div class="thumbnail">
                    <img src="{% static 'img/thumb.jpg'%}" rel="stylesheet">
                    <div class="caption">
                        <h3><a href="{{ recipe.slug }}">{{ recipe.name }}</a></h3><hr />
                        <p>{%for name in recipe.ingridients.all%}{{name}}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endblock %}