{% extends "base.html" %}
{% load staticfiles %}
        {% block content %}
            <div class="row">
                <div class="col-md-4">
            <h3><a href="{% url "entry_detail" slug=recipe.slug %}">{{ recipe.name }}</a></h3>
            </br>
            <div class="table-responsive">
            <table class="table table-hover"><tr><th>Ингридиенты</th></tr><tr>
  <td>{{  recipe.ingridients.all|join:"<br>" }}</td>
</tr>
</table></div></div>
        <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail">
                        <img src="{% static 'img/thumb.jpg'%}" alt="">
                    </a>
                </div>
            </div>
        {% endblock %}